<div class="app-shell">

  @if (authService.estaLogueado()) {
    <app-sidebar [class.abierto]="sidebarAbierta()" (cerrar)="toggleSidebar()"></app-sidebar>
  }

  @if (authService.estaLogueado() && sidebarAbierta()) {
    <div class="sidebar-overlay" (click)="toggleSidebar()"></div>
  }

  <div class="main-panel">
    <app-navbar (toggleSidebar)="toggleSidebar()"></app-navbar>
    <main class="app-content">
      <router-outlet></router-outlet>
    </main>
    <app-footer></app-footer>
  </div>

</div>
